################################################################################################################################################################

# @project        Library/Mathematics
# @file           requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

numpy
LibraryCorePy>=0.2.2

################################################################################################################################################################
